<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
     content must come *after* these tags -->
    <title>Zipato extension server</title>
    <link href="html_static/stylesheet.css" rel="stylesheet">
    <link href="html_static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <script src="html_static/jquery-1.9.1.min.js"></script>
    <script src="html_static/bootstrap.min.js"></script>
    <div class="jumbotron text-center">
        <h1>Zipato extension server</h1>
        <p class="text-danger">

        </p>
    </div>
    <!-- Menu -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <br>
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#about">About</a></li>
                <li><a data-toggle="tab" href="#settings">Settings</a></li>
                <li><a data-toggle="tab" href="#api">API</a></li>
            </ul>
            <br>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <!-- Pages -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="tab-content">
                {% include 'about.html' %}
                {% include 'settings.html' %}
                {% include 'api.html' %}
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</body>
</html>
