<div id="settings" class="tab-pane fade">
    <form>
        <button type="submit" class="btn btn-success pull-right">
            Save settings
        </button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th colspan="2"></th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for constant, value in constants.items() %}
                <tr>
                    <th colspan="4">{{ comments[constant] }}</th>
                </tr>
                {% if value is mapping %}
                <tr><td colspan="4">{{ constant }}</td></tr>
                {% for sub_header, sub_constants in value.items() %}
                    {% set header_line = True %}
                    {% for sub_constant, sub_value in sub_constants.items() %}
                    {% if header_line %}
                    <tr>
                        <td></td>
                        <td>{{ sub_header }}</td>
                        <td colspan="2"></td>
                    {% set header_line = False %}
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="2">
                        <td>{{ sub_constant }}</td>
                        <td>
                            <input size="35" type="text" value="{{ sub_value }}">
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">{{ constant }}</td>
                    <td>
                        <input size="35" type="text" value="{{ value }}">
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success pull-right">
            Save settings
        </button>
    </form>
    <br>
</div>
